<main class="flex flex-col items-center">
  <section class="bg-[#0093b9] w-full h-[280px] overflow-hidden">
    <img src="/assets/images/logoOpacity.png" alt="logo vital" class="w-[391px] h-[500px]">
  </section>
  <section class="container rounded-tl-3xl rounded-tr-3xl z-10 mt-[-50px] bg-white flex flex-col items-center gap-6 mb-40">
    <div class="splide w-[400px] bg-gray-600 rounded-lg mt-9" id="propagandas-slider" role="group" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">Slide 01</li>
          <li class="splide__slide">Slide 02</li>
          <li class="splide__slide">Slide 03</li>
        </ul>
      </div>
    </div>
    <app-paciente-servicos></app-paciente-servicos>
    <h1 class="text-2xl font-bold">Últimos exames</h1>
    <app-paciente-ultimos-exames></app-paciente-ultimos-exames>
  </section>
</main>
