<main class="flex flex-col items-center">
  <section class="bg-[#0093b9] w-full h-[280px] overflow-hidden">
    <img src="/assets/images/logoOpacity.png" alt="logo vital" class="w-[391px] h-[500px]">
  </section>
  <section class="container rounded-tl-3xl rounded-tr-3xl z-10 mt-[-50px] bg-white flex flex-col items-center gap-6 mb-40">
    <img src="/assets/images/bannerHomePagePaciente.png" alt="foto hospital" srcset="">
    <button class="button-header-historico-pacientes-focus focus:ring-4 font-medium rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" [routerLink]="'/paciente/agendar-consulta'">Agendar Consulta</button>
    <app-paciente-servicos></app-paciente-servicos>
    <div class="splide w-[400px]" id="propagandas-slider" role="group" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list gap-2">
          <li class="splide__slide w-full"><img src="/assets/images/Beneficios-e-unidades-das-Clinicas-Einstein-1.png" class="object-cover h-[200px]" alt="foto hospital" srcset=""></li>
          <li class="splide__slide w-full"><img src="/assets/images/hospital.png" class="object-cover h-[200px]" alt="foto hospital" srcset=""></li>
          <li class="splide__slide w-full"><img src="/assets/images/quartohospital.jpg"  class="object-cover h-[200px]" alt="foto quarto do hospital" srcset=""></li>
          <li class="splide__slide w-full"><img src="/assets/images/centrocirurgico.jpg" class="object-cover h-[200px]"  alt="foto centro cirurgico" srcset=""></li>
        </ul>
      </div>
    </div>
    <h1 class="text-2xl font-bold">Últimos exames</h1>
    <app-paciente-ultimos-exames></app-paciente-ultimos-exames>
  </section>
</main>
