
<section class="flex flex-col justify-center items-center gap-7">
  <form class="bg-[rgb(239,239,239)] w-[380px] py-6 px-4 rounded-lg" action="POST">
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Exame</label>
      <select id="exames" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected class="text-sm">Escolha um exame</option>
        <option class="text-sm" value="Eletrocardiograma">Eletrocardiograma</option>
        <option class="text-sm" value="Endoscopia">Endoscopia</option>
        <option class="text-sm" value="Hemograma">Hemograma</option>
      </select>
    </div>
    <div class="mb-6 flex items-center gap-8">
      <div class="flex items-center">
        <input
          id="default-radio-1"
          type="radio"
          value="presencial"
          name="default-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2"
          (change)="onRadioChange($event)">
        <label for="default-radio-1" class="ms-2 text-sm font-semibold text-gray-900">Presencial</label>
      </div>
      <div class="flex items-center">
        <input
          id="default-radio-2"
          type="radio"
          value="remota"
          name="default-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2"
          (change)="onRadioChange($event)"
          checked>
        <label for="default-radio-2" class="ms-2 text-sm font-semibold text-gray-900">Remota</label>
      </div>
    </div>
    <div class="mb-6" *ngIf="selectedRadio === 'presencial'">
      <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Unidade Hospitalar</label>
      <select id="hospitais" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option class="text-sm" selected>Escolha um hospital</option>
        <option class="text-sm" value="Alphaville">Hospital Albert Einstein - Alphaville</option>
        <option class="text-sm" value="Morumbi">Hospital Albert Einstein - Morumbi</option>
        <option class="text-sm" value="Chácara Klabin">Hospital Albert Einstein - Chácara Klabin</option>
        <option class="text-sm" value="Ibirapuera">Hospital Albert Einstein - Ibirapuera</option>
      </select>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Queixa e sintomas:</label>
      <textarea id="message" rows="4" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Descreva as suas queixas"></textarea>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Data:</label>
      <div class="relative max-w-sm">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
             <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
           </svg>
       </div>
        <input id="datepicker-autohide"  #dateField (changeDate)="onDatePicked($event)" datepicker-format="dd/mm/yyyy" datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
      </div>
    </div>
    <div class="relative mb-6">
      <label for="time" class="block mb-2 text-sm font-semibold text-gray-900">Horário:</label>
      <div class="relative">
          <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
              </svg>
          </div>
          <input type="time" id="time" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [incremental]="30" min="09:00" max="18:00" value="00:00" required />
      </div>
    </div>
  </form>
</section>
