
<section class="flex flex-col justify-center items-center gap-7">
  <form class="bg-[rgb(239,239,239)] w-[380px] py-6 px-4 rounded-lg" [formGroup]="agendamentoForm">
    <div class="cpf-select mb-6" *ngIf="isADM">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Paciente</label>
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#108999] focus:border-[#108999] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#108999] dark:focus:border-[#108999]"
        [(ngModel)]="cpfInput"
        formControlName="cpfPaciente"
        (input)="filterPacienteList()"
        placeholder="Digite o CPF"
        (focus)="showSuggestions = true"
        (blur)="hideSuggestions()"
      />

      <!-- Lista de sugestões filtradas -->
      <ul *ngIf="showSuggestions && filteredPacienteList.length">
        <li
          *ngFor="let paciente of filteredPacienteList"
          (click)="selectPaciente(paciente)"
        >
          {{ paciente.cpf }} - {{ paciente.nome }}
        </li>
      </ul>
    </div>
    <div class="mb-6 flex items-center gap-8">
      <div class="flex items-center">
        <input
          id="default-radio-1"
          type="radio"
          value="presencial"
          name="default-radio"
          class="w-4 h-4 text-[#108999] bg-gray-100 border-gray-300 focus:ring-[#108999] dark:focus:ring-[#108999] dark:ring-offset-gray-800 focus:ring-2"
          (change)="onRadioChange($event)"
          checked>
        <label for="default-radio-1" class="ms-2 text-sm font-semibold text-gray-900">Presencial</label>
      </div>
      <div class="flex items-center">
        <input
          id="default-radio-2"
          type="radio"
          value="remota"
          name="default-radio"
          class="w-4 h-4 text-[#108999] bg-gray-100 border-gray-300 focus:ring-[#108999] dark:focus:ring-[#108999] dark:ring-offset-gray-800 focus:ring-2"
          (change)="onRadioChange($event)">
        <label for="default-radio-2" class="ms-2 text-sm font-semibold text-gray-900">Remota</label>
      </div>
      <p  *ngIf="!selectedRadio"
       class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6" *ngIf="selectedRadio === 'presencial'">
      <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Unidade Hospitalar</label>
      <select id="hospitais" formControlName="local" (change)="onHospitalChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#108999] focus:border-[#108999] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#108999] dark:focus:border-[#108999]">
        <option class="text-sm" selected>Escolha um hospital</option>
        <option class="text-sm" value="{{item.nome}}" *ngFor="let item of hospitais">{{item.nome}} - {{item.endereco}}</option>
      </select>
      <p  *ngIf="agendamentoForm.get('local')?.errors?.['required'] &&  agendamentoForm.get('local')?.touched"
       class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Consulta</label>
      <select id="exames" formControlName="servico" (change)="onServicoChange($event)"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#108999] focus:border-[#108999] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#108999] dark:focus:border-[#108999]">
        <option selected class="text-sm">Escolha um serviço</option>
        <option class="text-sm" value="{{item.nome}}" *ngFor="let item of servicosHospitalares">{{item.nome}}</option>
      </select>
      <p  *ngIf="agendamentoForm.get('servico')?.errors?.['required'] &&  agendamentoForm.get('servico')?.touched"
       class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Medico</label>
      <select id="exames" (change)="onMedicoChange($event)" formControlName="medico" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#108999] focus:border-[#108999] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#108999] dark:focus:border-[#108999]">
        <option selected class="text-sm">Escolha um médico</option>
        <option class="text-sm" [value]="item.id | number" *ngFor="let item of medicos">{{item.nome}}</option>
      </select>
      <p  *ngIf="agendamentoForm.get('servico')?.errors?.['required'] &&  agendamentoForm.get('servico')?.touched"
       class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Queixa e sintomas:</label>
      <textarea id="message" formControlName="queixas" rows="4" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-[#108999] focus:border-[#108999] block w-full p-2.5 " placeholder="Descreva as suas queixas"></textarea>
      <p  *ngIf="agendamentoForm.get('queixas')?.errors?.['required'] &&  agendamentoForm.get('queixas')?.touched"
       class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Data:</label>
      <div class="relative max-w-sm">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
             <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
           </svg>
       </div>
        <input id="datepicker-autohide"  #dateField (changeDate)="onDatePicked($event)" datepicker-format="dd/mm/yyyy" datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#108999] focus:border-[#108999] block w-full ps-10 p-2.5" placeholder="Select date">
      </div>
      <p  *ngIf="!selectedDate"
       class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="border-t w-full border-gray-200 dark:border-gray-800 flex sm:flex-row flex-col sm:space-x-5 rtl:space-x-reverse mb-6">
      <div class="border-gray-200 dark:border-gray-800 w-full sm:max-w-sm mt-5 sm:mt-0">
          <label class="block mb-4 text-sm font-semibold text-gray-900">
              Selecione o horário
          </label>
          <ul id="timetable" class="grid w-full grid-cols-4 gap-2 mt-5">
              <li>
                  <input type="radio" id="8-am" value="08:00 AM" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="8-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      08:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="8-30-am" value="08:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="8-30-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      08:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="9-am" value="09:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="9-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      09:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="9-30-am" value="09:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="9-30-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      09:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="10-am" value="10:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="10-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      10:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="10-30-am" value="10:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="10-30-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      10:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="11-am" value="11:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="11-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      11:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="11-30-am" value="11:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="11-30-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      11:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="12-am" value="12:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="12-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      12:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="12-30-am" value="12:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="12-30-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      12:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="13-am" value="13:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="13-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      13:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="13-30-am" value="13:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="13-30-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      13:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="14-am" value="14:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="14-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      14:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="14-30-am" value="14:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="14-30-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      14:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="15-am" value="15:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="15-am"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      15:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="15-30-pm" value="15:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="15-30-pm"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      15:30
                  </label>
              </li>
              <li>
                  <input type="radio" id="16-pm" value="16:00" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="16-pm"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      16:00
                  </label>
              </li>
              <li>
                  <input type="radio" id="16-30-pm" value="16:30" class="hidden peer" name="timetable" (change)="onTimePicked($event)">
                  <label for="16-30-pm"
                      class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center bg-white border rounded-lg cursor-pointer text-[#108999] border-[#108999] dark:hover:text-white dark:border-[#108999] dark:peer-checked:border-[#108999] peer-checked:border-[#108999] peer-checked:bg-[#108999] hover:text-white peer-checked:text-white hover:bg-[#108999] dark:text-[#108999] dark:bg-gray-900 dark:hover:bg-[#108999] dark:hover:border-[#108999] dark:peer-checked:bg-[#108999]">
                      16:30
                  </label>
              </li>
          </ul>
      </div>
  </div>
    <div class="mb-5 w-full">
      <label for="email" class="block mb-4 text-sm font-semibold text-gray-900">Email para receber atualizações</label>
      <input type="email" id="email" formControlName="email" class="bg-gray-50 border border-none  text-sm rounded-lg focus:ring-[#108999] focus:border-[#108999] block w-full p-2.5 dark:placeholder-gray-400" placeholder="seu@email.com" required />
      <p *ngIf="agendamentoForm.get('email')?.errors?.['required'] &&  agendamentoForm.get('email')?.touched"
       class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mt-6 grow sm:mt-8 lg:mt-0">
      <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6">
          <dl class="flex items-center justify-between gap-4 pt-2">
            <dt class="text-base font-bold text-gray-900">Total</dt>
            <dd class="text-base font-bold text-gray-900">R${{valor}}</dd>
          </dl>
      </div>
    </div>
  </form>
</section>
