<nav class="flex gap-5 pl-5 pt-9 mb-10">
  <button (click)="voltar()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
  </button>
  <h2 class="font-bold">Cadastrar serviço</h2>
</nav>
<main class="flex flex-col gap-9 mb-24 items-center">
  <form class="bg-[rgb(239,239,239)] w-[380px] py-6 px-4 rounded-lg" [formGroup]="cadastroForm">
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Nome do serviço</label>
      <input type="text" formControlName="nome" placeholder="Escreva o nome do serviço" id="default-input" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
      <p *ngIf="cadastroForm.get('nome')?.errors?.['required'] &&  cadastroForm.get('nome')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Descrição</label>
      <textarea id="message" formControlName="descricao" rows="4" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Escreva uma descrição para o serviço...."></textarea>
      <p *ngIf="cadastroForm.get('descricao')?.errors?.['required'] &&  cadastroForm.get('descricao')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Especialização</label>
      <input type="text" formControlName="especializacao" placeholder="Escreva o nome da especialização" id="default-input" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
      <p *ngIf="cadastroForm.get('especializacao')?.errors?.['required'] &&  cadastroForm.get('especializacao')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Categoria do Serviço</label>
      <select formControlName="servico" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected class="text-sm">Selecione a categoria</option>
        <option class="text-sm" value="Exame">Exame</option>
        <option class="text-sm" value="Consulta">Consulta</option>
      </select>
      </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Valor</label>
      <input type="number" formControlName="valor" placeholder="Escreva o valor do serviço" id="default-input" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
      <p *ngIf="cadastroForm.get('valor')?.errors?.['required'] &&  cadastroForm.get('valor')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
  </form>
  <button class="button-header-historico-pacientes-focus focus:ring-4 font-semibold rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" (click)="cadastrarServico()">Cadastrar serviço</button>
</main>
