<div class="splide max-w-sm h-[60px] items-center mb-5" role="group" id="laudos-slider" aria-label="Splide Basic">
  <div class="splide__track w-full">
    <ul class="splide__list flex item-center gap-5">
      <li
      *ngFor="let consulta of consultas"
      class="splide__slide button-header-historico-pacientes rounded-lg p-4 text-center"
      (click)="selectConsulta(consulta.id)"
      [ngClass]="{'button-header-historico-pacientes-focus': selectedConsultaId === consulta.id}"
      >
      {{ consulta.data | date:'dd/MM/yy' }}
     </li>
    </ul>
  </div>
</div>
<div class="w-full flex flex-col gap-8 justify-center items-center" *ngIf="selectedConsultaId !== null">
  <h2 class="font-bold text-2xl">Resultado do Exame</h2>
  <img src="{{getConsultaSelecionada().imgSRC || '/assets/images/caderneta.png' }}" alt="Resultado do exame" class="w-[300px]">
  <a href="assets/images/caderneta.png" download="resultado.png" *ngIf="getConsultaSelecionada().imgSRC" (click)="downloadResultado()" class="button-header-historico-pacientes-focus w-[200px] p-4 rounded-lg text-center">Baixar</a>
  <p *ngIf="!getConsultaSelecionada().imgSRC">O resultado ainda não está disponível</p>
</div>
