<nav class="flex gap-5 pl-5 pt-4 mb-5">
  <button (click)="voltar()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
  </button>
  <h2 class="font-bold">Anexar documento</h2>
</nav>
<main class="flex flex-col gap-6 items-center mb-16">
<h1 *ngIf="tipoAgendamento == 'exame'">Anexe o resultado do exame</h1>
<p class="text-sm" *ngIf="tipoAgendamento == 'consulta'">Selecione o tipo de documento que deseja anexar</p>

<div class="flex justify-center items-center" *ngIf="tipoAgendamento == 'consulta'">
  <button
    type="button"
    class="focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2"
    [ngClass]="{'button-header-historico-pacientes-focus': selectedType === 'receita', 'button-header-historico-pacientes': selectedType !== 'receita'}"
    (click)="selectType('receita')"
  >
    Receita
  </button>

  <button
    type="button"
    class="focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2"
    [ngClass]="{'button-header-historico-pacientes-focus': selectedType === 'atestado', 'button-header-historico-pacientes': selectedType !== 'atestado'}"
    (click)="selectType('atestado')"
  >
    Atestado
  </button>
</div>

  <div class="flex flex-col gap-4 items-center justify-center w-[360px]" *ngIf="tipoAgendamento == 'exame' || (tipoAgendamento == 'consulta' && selectedType)">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-xs text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Clique para fazer o upload do {{selectedType}}</span>
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG ou PDF</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)"/>
    </label>
    <p class="text-sm text-gray-500 dark:text-gray-400 mt-2" *ngIf="selectedFileName">
      Arquivo selecionado: {{ selectedFileName }}
    </p>
    <p *ngIf="fileErrors"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">É necessário escolher um arquivo!</span></p>
  </div>
  <div *ngIf="tipoAgendamento == 'exame'" class="mb-6">
    <label for="default-input" class="block mb-4 text-sm font-semibold text-gray-900">Resultado Externo (Opcional)</label>
    <input type="text" id="default-input" (change)="saveURL($event)" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
    <p *ngIf="fileErrors && !urlexterna"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">É necessário escolher um arquivo ou enviar uma url!</span></p>
  </div>
  <button *ngIf="tipoAgendamento == 'exame' || (tipoAgendamento == 'consulta' && selectedType)"
   class="button-header-historico-pacientes-focus focus:ring-4 font-semibold rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" (click)="anexarNoAgendamento()">Anexar</button>
</main>
