<main class="flex flex-col items-center">
  <section class="bg-[#0093b9] w-full h-[280px] overflow-hidden">
    <img src="/assets/images/logoOpacity.png" alt="logo vital" class="w-[391px] h-[500px]">
  </section>
  <section class="container rounded-tl-3xl rounded-tr-3xl z-10 mt-[-50px] bg-white flex flex-col items-center gap-6 mb-40">
    <div class="splide w-[400px] mt-9" id="propagandas-slider-medico" role="group" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list gap-2">
          <li class="splide__slide w-full"><img src="/assets/images/Beneficios-e-unidades-das-Clinicas-Einstein-1.png" class="object-cover h-[200px]" alt="foto hospital" srcset=""></li>
          <li class="splide__slide w-full"><img src="/assets/images/hospital.png" class="object-cover h-[200px]" alt="foto hospital" srcset=""></li>
          <li class="splide__slide w-full"><img src="/assets/images/quartohospital.jpg"  class="object-cover h-[200px]" alt="foto quarto do hospital" srcset=""></li>
          <li class="splide__slide w-full"><img src="/assets/images/centrocirurgico.jpg" class="object-cover h-[200px]"  alt="foto centro cirurgico" srcset=""></li>
        </ul>
      </div>
    </div>
    <form class="max-w-md mx-auto w-11/12">
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-[#108999] focus:border-[#108999]" placeholder="Pesquisar" required />
          <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-[#108999] hover:bg-[#108999] focus:ring-4 focus:outline-none focus:ring-[#108999] font-medium rounded-lg text-sm px-4 py-2">Buscar</button>
      </div>
    </form>
    <h1 class="text-2xl font-bold">Próximos Pacientes</h1>
    <div>
      <app-ultimos-pacientes-card [ultimosPacientes]="ultimosPacientes" tela="home"></app-ultimos-pacientes-card>
    </div>
  </section>
</main>
