<section class="splide w-[400px] h-[230px]" role="group" id="paciente-ultimos-exames-slider" aria-label="Splide Basic">
  <div class="splide__track">
    <ul class="splide__list flex gap-4 items-center">
      <li class="splide__slide">
        <app-paciente-exame-card [exame]="exameConcluido"></app-paciente-exame-card>
      </li>
      <li class="splide__slide">
        <app-paciente-exame-card [exame]="exameConcluido"></app-paciente-exame-card>
      </li>
      <li class="splide__slide">
        <app-paciente-exame-card [exame]="exameConcluido"></app-paciente-exame-card>
      </li>
      <li class="splide__slide">
        <app-paciente-exame-card [exame]="exameConcluido"></app-paciente-exame-card>
      </li>
      <li class="splide__slide">
        <app-paciente-exame-card [exame]="exameConcluido"></app-paciente-exame-card>
      </li>
    </ul>
  </div>
</section>
