<header class="flex gap-3 mb-8 mt-8 pl-5">
  <button (click)="toggleSidenav()" type="button" class="text-white w-14 bg-[#108999] hover:bg-[#108999] focus:ring-4 focus:outline-none focus:ring-[#108999] font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2">
      <span class="material-symbols-outlined m-auto">
        menu
      </span>
  </button>
  <app-menu-adm [isOpen]="isOpen"></app-menu-adm>
  <div class="col-span-2">
    <h1 class="text-3xl font-semibold">Bem vindo,</h1>
    <p>{{admin?.nome}}</p>
  </div>
</header>
<router-outlet></router-outlet>
