<div class="popup" [ngClass]="{'active': isPopupVisible2}">
  <h2>Restaurar senha</h2>
  <form class="form" [formGroup]="newPasswordForm">
    <div>
      <input type="email" placeholder="Email" required formControlName="email"/>
      <p *ngIf="newPasswordForm.get('email')?.errors?.['required'] &&  newPasswordForm.get('email')?.touched"
      class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div>
      <input type="password" placeholder="Nova senha" required formControlName="senha"/>
      <p *ngIf="newPasswordForm.get('senha')?.errors?.['required'] &&  newPasswordForm.get('senha')?.touched"
      class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div>
      <input type="password" placeholder="Confirmar sua nova senha" required formControlName="novaSenha"/>
      <p *ngIf="newPasswordForm.get('novaSenha')?.errors?.['required'] &&  newPasswordForm.get('novaSenha')?.touched"
      class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <button id="enviarButton" [disabled]="!newPasswordForm.valid" type="submit" (click)="resetPassword()">Enviar</button>
  </form>
</div>
<div class="backIsback" [ngClass]="{'active': isPopupVisible2}" ></div>
