.popup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.popup h2 {
  margin: 0 0 10px;
}

.popup input {
  border: 1px solid;
  border-color: rgb(225, 225, 225);
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 75%;
  border-radius: 8px;
  padding: 5px;
}

#enviarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0093B9;
  color: white;
  padding: 4px;
  font-size: 20px;
  border-radius: 5px;
  width: 75%;
  height: 50px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  margin-top: 30px;
}
