<div class="popup" [ngClass]="{'active': isPopupVisible}">
  <h2>Esqueçeu sua senha?</h2>
  <h3>Digite seu e-mail para alterar a senha e <br> aguarde o código de recuperação</h3>
  <form class="form" [formGroup]="dadosForm" (ngSubmit)="sendEmailToResetPassword()">
    <input formControlName="email" type="email" placeholder="Digite seu e-mail" required />
    <p *ngIf="dadosForm.get('email')?.errors?.['required'] &&  dadosForm.get('email')?.touched"
    class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    <button id="enviarButton" type="submit">Enviar</button>
  </form>
</div>
<div class="backIsback transition"  [ngClass]="{'active': isPopupVisible}"></div>
