<main class="flex flex-col gap-9 mb-24">
  <nav class="flex gap-5 pl-5 pt-9">
    <button (click)="voltar()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
    </button>
    <h2 class="font-bold">{{paciente?.nome}}</h2>
  </nav>
  <section class="grid grid-cols-3 max-w-sm pl-5 gap-5">
    <div class="grid grid-rows-3 rounded-lg p-4 col-span-2 button-header-historico-pacientes">
      <p class="font-semibold">Nome: {{paciente?.nome}}</p>
      <p class="font-semibold">Sexo: {{paciente?.sexo}}</p>
      <p class="font-semibold">Data de Nascimento: {{paciente?.dataNascimento | date: "dd/MM/yyyy"}}</p>
    </div>
  </section>
  <button class="button-header-historico-pacientes-focus focus:ring-4 font-medium rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" (click)="anexarArquivo()">Anexar Arquivo</button>

  <section
    class="flex flex-col justify-center items-center w-[384px] pl-5"
  >
    <app-form-conta-usuario [fields]="formFields" *ngIf="formFields.length > 0"></app-form-conta-usuario>
  </section>
  <div class="flex flex-col gap-4">
    <button class="button-header-historico-pacientes-focus focus:ring-4 font-medium rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" (click)="inserirRegistro()">Inserir Registro</button>
    <button class="button-header-historico-pacientes focus:ring-4 font-medium rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" (click)="concluirExame()">Concluir</button>
  </div>
</main>
