<article class="flex items-center justify-between h-[130px] w-[330px] mb-3 card-exame-historico p-4 rounded-xl transition">
  <div>
    <h3 class="font-semibold text-xl">{{consulta.nome}}</h3>
    <div>
      <p class="text-xs mb-2">{{consulta.local}}</p>
      <p class="text-xs">{{consulta.data}}</p>
      <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{consulta.tipoConsulta}}</span>
    </div>
    <p class="text-xs">{{consulta.medico}}</p>
  </div>
  <img *ngIf="consulta.status == 'Concluida'" class="h-12 " src="/assets/images/download.svg" alt="download icone" srcset="" (click)="downloadAllDocuments(consulta)">
  <img *ngIf="consulta.status == 'Agendada' && tela == 'admin'" class="h-12 " src="/assets/images/attach.svg" alt="download icone" srcset=""
  [routerLink]="['anexar-documento', 'consulta', consulta.consultaId]">
  <button
    *ngIf="consulta.status == 'Agendada' && consulta.tipoConsulta == 'Remota' && tela == 'paciente'"
    class="button-header-historico-pacientes-focus focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 flex"
  >
  <a href="{{consulta.meetLink}}">Acessar</a>
  </button>
  <img *ngIf="consulta.status == 'Agendada' && consulta.tipoConsulta == 'Presencial' && tela == 'paciente'" class="h-12 grayscale-disabled" src="/assets/images/download.svg" alt="download icone" srcset=""/>
</article>
