<div class="gap-5 hidden md:flex">
<article class="flex items-center justify-between h-[140px] w-[350px] mb-3 card-exame-historico p-5 rounded-xl shadow-lg hover:shadow-xl transition-all">
  <img src={{obterIconeServico(consulta.nome)}} alt="{{ consulta.nome }}" srcset="">
  <div>
    <h3 class="font-semibold text-lg mb-1 text-gray-800">{{ consulta?.nome }}</h3>
    <p class="text-xs text-gray-500">{{ consulta?.local }}</p>
    <p class="text-xs text-gray-500">{{ consulta?.data | date: 'dd/MM/yy HH:mm' }}</p>
    <div class="flex items-center mt-2 space-x-2">
      <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2 py-0.5 rounded">{{ consulta?.tipoConsulta }}</span>
      <span *ngIf="consulta?.status == 'Agendado'" class="flex items-center text-xs text-gray-600 dark:text-white">
        <span class="w-2.5 h-2.5 bg-yellow-200 rounded-full me-1.5"></span>Agendada
      </span>
      <span *ngIf="consulta?.status == 'Concluido'" class="flex items-center text-xs text-green-600 dark:text-white">
        <span class="w-2.5 h-2.5 bg-green-300 rounded-full me-1.5"></span>Concluída
      </span>
    </div>
  </div>

  <div class="flex items-center space-x-3">
    <img *ngIf="consulta?.status == 'Concluido' && tela == 'paciente'" class="h-8 cursor-pointer" src="/assets/images/download.svg" alt="download icone" (click)="downloadAllDocuments(consulta)">

    <img *ngIf="tela == 'admin'" class="h-8 cursor-pointer" src="/assets/images/attach.svg" alt="attach icon" [routerLink]="['anexar-documento', 'consulta', consulta?.id]">

    <button *ngIf="consulta?.status == 'Agendado' && consulta?.tipoConsulta == 'Remota' && tela == 'paciente'"
      class="bg-[#108999] text-white font-medium rounded-lg text-sm px-4 py-2 transition duration-150">
      <a href="{{ consulta?.meetLink }}">Acessar</a>
    </button>

    <img *ngIf="consulta?.status == 'Agendado' && consulta?.tipoConsulta == 'Presencial' && tela == 'paciente'"
      class="h-8 grayscale-disabled cursor-pointer" src="/assets/images/download.svg" alt="download icon disabled">
  </div>
</article>
<button type="button" (click)="cancelarConsulta()" class="text-white w-[100px] bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Cancelar Consulta</button>
</div>

<div class="w-[360px] md:hidden overflow-hidden">
  <splide [options]="{
    focus: 0,
    omitEnd: false,
    arrows: false,
    gap: '20px',
    autoWidth: true,
    perPage: 1,
    height: '160px',
    pagination: false,
    breakpoints: {
      '640': { perPage: 1 }
    }
  }">
    <!-- Slide de Consulta -->
    <splide-slide>
      <article class="flex items-center justify-between h-[140px] w-[350px] mb-3 card-exame-historico p-5 rounded-xl shadow-lg hover:shadow-xl transition-all">
        <img [src]="obterIconeServico(consulta.nome)" alt="{{ consulta.nome }}" />
        <div>
          <h3 class="font-semibold text-lg mb-1 text-gray-800">{{ consulta?.nome }}</h3>
          <p class="text-xs text-gray-500">{{ consulta?.local }}</p>
          <p class="text-xs text-gray-500">{{ consulta?.data | date: 'dd/MM/yy HH:mm' }}</p>
          <div class="flex items-center mt-2 space-x-2">
            <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2 py-0.5 rounded">{{ consulta?.tipoConsulta }}</span>
            <span *ngIf="consulta?.status == 'Agendado'" class="flex items-center text-xs text-gray-600 dark:text-white">
              <span class="w-2.5 h-2.5 bg-yellow-200 rounded-full me-1.5"></span>Agendada
            </span>
            <span *ngIf="consulta?.status == 'Concluido'" class="flex items-center text-xs text-green-600 dark:text-white">
              <span class="w-2.5 h-2.5 bg-green-300 rounded-full me-1.5"></span>Concluída
            </span>
          </div>
        </div>

        <div class="flex items-center space-x-3">
          <img *ngIf="consulta?.status == 'Concluido' && tela == 'paciente'" class="h-8 cursor-pointer" src="/assets/images/download.svg" alt="download icone" (click)="downloadAllDocuments(consulta)" />
          <img *ngIf="tela == 'admin'" class="h-8 cursor-pointer" src="/assets/images/attach.svg" alt="attach icon" [routerLink]="['anexar-documento', 'consulta', consulta?.id]" />

          <button *ngIf="consulta?.status == 'Agendado' && consulta?.tipoConsulta == 'Remota' && tela == 'paciente'" class="bg-[#108999] text-white font-medium rounded-lg text-sm px-4 py-2 transition duration-150">
            <a href="{{ consulta?.meetLink }}">Acessar</a>
          </button>

          <img *ngIf="consulta?.status == 'Agendado' && consulta?.tipoConsulta == 'Presencial' && tela == 'paciente'" class="h-8 grayscale-disabled cursor-pointer" src="/assets/images/download.svg" alt="download icon disabled" />
        </div>
      </article>
    </splide-slide>

    <!-- Slide de Botão Cancelar -->
    <splide-slide>
      <div class="flex justify-center items-center h-full">
        <button type="button" (click)="cancelarConsulta()" class="text-white w-[100px] h-full bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Cancelar Consulta
        </button>
      </div>
    </splide-slide>
  </splide>
</div>
