<main class="flex flex-col gap-6 mb-24 w-full justify-center items-center">
  <nav class="flex gap-3 w-full items-start justify-start pt-4 px-5 self-start mt-4">
    <button (click)="voltar()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
    </button>
    <h2 class="font-bold">{{paciente?.nome}}</h2>
  </nav>
  <section class="grid grid-rows-2  max-w-sm pl-5 gap-5">
    <div class="rounded-lg p-4 button-header-historico-pacientes">
      <p class="font-normal text-gray-800"><span class="font-semibold">Nome</span>: {{paciente?.nome}}</p>
    <p class="font-normal text-gray-800"><span class="font-semibold">Sexo:</span> {{paciente?.sexo}}</p>
    <p class="font-normal text-gray-800"><span class="font-semibold">Data de Nascimento:</span> {{paciente?.dataNascimento | date: "dd/MM/yyyy"}}</p>
    <p class="font-normal text-gray-800"><span class="font-semibold">Alergias:</span> {{paciente?.alergias}}</p>
    <p class="font-normal text-gray-800"><span class="font-semibold">Medicamentos:</span> {{paciente?.medicamentos}}</p>
    <p class="font-normal text-gray-800"><span class="font-semibold">Histórico Familiar:</span> {{paciente?.historicoFamiliar}}</p>
    </div>
    <div class="grid grid-rows-3 gap-3">
      <button
        type="button"
        class="focus:ring-4 font-medium rounded-lg text-sm px-3 py-2 h-16"
        [ngClass]="{'button-header-historico-pacientes-focus': selectedButton === 'dados', 'button-header-historico-pacientes': selectedButton !== 'dados'}"
        (click)="selectButton('dados')"
      >
      Dados
      </button>
      <button
      type="button"
      class="focus:ring-4 font-medium rounded-lg text-sm px-3 py-2 h-16"
      [ngClass]="{'button-header-historico-pacientes-focus': selectedButton === 'prontuario', 'button-header-historico-pacientes': selectedButton !== 'prontuario'}"
      (click)="selectButton('prontuario')"
      >
        Prontuário
      </button>
      <button
      type="button"
      class="focus:ring-4 font-medium rounded-lg text-sm px-3 py-2 h-16"
      [ngClass]="{'button-header-historico-pacientes-focus': selectedButton === 'agendamentos', 'button-header-historico-pacientes': selectedButton !== 'agendamentos'}"
      (click)="selectButton('agendamentos')"
      >
        Agendamentos
      </button>
    </div>
  </section>

  <section
  class="flex flex-col justify-center items-center w-[384px] pl-5 gap-5"
  [ngClass]="{'hidden': selectedButton === 'prontuario' || selectedButton === 'agendamentos'}"
>
  <app-form-conta-usuario *ngIf="dadosFormFields.length > 0" [fields]="dadosFormFields"></app-form-conta-usuario>
  <button class="button-header-historico-pacientes-focus focus:ring-4 font-medium rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" (click)="salvarAlteracoes()">Salvar Alterações</button>
</section>

<section
  class="flex flex-col justify-center items-center w-full"
  *ngIf="paciente && (selectedButton !== 'dados' && selectedButton !== 'agendamentos')"
>
  <app-prontuario-slider [pacienteId]="paciente.id"></app-prontuario-slider>
</section>


<section
  class="flex flex-col justify-center items-center"
  [ngClass]="{'hidden': selectedButton === 'prontuario' || selectedButton === 'dados'}"
>
  <app-paciente-historico-agendamentos
    [pacienteId]="paciente?.id"
    [tela]="tela">
  </app-paciente-historico-agendamentos>
</section>
</main>
