<!-- drawer component -->
<div id="drawer-navigation" [ngClass]="{'translate-x-0': isOpen, '-translate-x-full': !isOpen}" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform bg-[#0B8FAC] text-white">
  <!-- Profile Section -->
  <div class="flex items-center mb-8">
    <!-- Exibir imagem dinamicamente -->
    <img [src]="profileImage" alt="Profile" class="w-10 h-10 rounded-full object-cover">
    <div class="ml-3">
      <!-- Exibir nome dinamicamente -->
      <h2 class="text-lg font-semibold">{{ profileName }}</h2>
    </div>
  </div>
  <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" (click)="closeSidenav()" class="close-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Close menu</span>
  </button>


  <!-- Menu Links -->
  <ul class="space-y-6">
    <li>
      <a [routerLink]="'/admin/'" class="flex items-center p-2 rounded-lg hover:bg-[#239AB4]">
        <img src="assets/images/components/admin/menu/profile.svg" alt="Icon 1" class="h-6 w-6 bg-transparent">
        <span class="ml-3">Pacientes</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/admin/cadastrar-hospital'" class="flex items-center p-2 rounded-lg hover:bg-[#239AB4]">
        <img src="assets/images/components/admin/menu/hospitais.svg" alt="Icon 1" class="h-6 w-6 bg-transparent">

        <span class="ml-3">Hospitais</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/admin/cadastrar-servico'" class="flex items-center p-2 rounded-lg hover:bg-[#239AB4]">
        <img src="assets/images/components/admin/menu/servicos.svg" alt="Icon 1" class="h-6 w-6 bg-transparent">

        <span class="ml-3">Serviços</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/admin/cadastrar-paciente'" class="flex items-center p-2 rounded-lg hover:bg-[#239AB4]">
        <img src="assets/images/components/admin/menu/historico.svg" alt="Icon 1" class="h-6 w-6 bg-transparent">
        <span class="ml-3">Histórico</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/admin/cadastrar-paciente'" class="flex items-center p-2 rounded-lg hover:bg-[#239AB4]">
        <img src="assets/images/components/admin/menu/agendarexame.svg" alt="Icon 1" class="h-6 w-6 bg-transparent">

        <span class="ml-3">Agendar exames</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/admin/cadastrar-medico'" class="flex items-center p-2 rounded-lg hover:bg-[#239AB4]">
        <img src="assets/images/components/admin/menu/medicos.svg" alt="Icon 1" class="h-6 w-6 bg-transparent">

        <span class="ml-3">Médicos</span>
      </a>
    </li>
  </ul>

  <!-- Logout Button -->
  <div class="absolute bottom-4 left-4">
    <a [routerLink]="'/login'" class="flex items-center p-2 text-white rounded-lg hover:bg-[#108999]">
      <img src="assets/images/components/admin/menu/sair.svg" alt="Icon 1" class="h-6 w-6 bg-transparent">

      <span class="ml-3">Sair</span>
    </a>
  </div>
</div>

