input {
  border: none;
  background-color: #ececec;
}

.forma {
  width: 380px;
  height: 520px;
  display: grid;
  place-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.senhaEsq {
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  align-self: flex-end;
  margin-top: 15px;
}

.loginAdm {
  margin-top: 10px;
  font-size: 13px;
  font-weight: normal;
  color: #0E687B;
  text-decoration: underline;
}
