<nav class="flex gap-5 pl-5 pt-9 mb-10">
  <button (click)="voltar()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
  </button>
  <h2 class="font-bold">Cadastrar hospital</h2>
</nav>
<main class="flex flex-col gap-9 mb-24 items-center">
  <form class="bg-[rgb(239,239,239)] w-[380px] py-6 px-4 rounded-lg" [formGroup]="cadastroForm">
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Nome</label>
      <input type="text" formControlName="nome" placeholder="Escreva o nome do hospital" id="default-input" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
      <p *ngIf="cadastroForm.get('nome')?.errors?.['required'] &&  cadastroForm.get('nome')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Endereco </label>
      <input type="text" formControlName="endereco" placeholder="Escreva o endereço do hospital" id="default-input" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
      <p *ngIf="cadastroForm.get('endereco')?.errors?.['required'] &&  cadastroForm.get('endereco')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="estado-select" class="block mb-4 text-sm text-gray-900 font-semibold">Estado</label>
      <select formControlName="estado" id="estado-select" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="" disabled selected>Selecione o estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
      <p *ngIf="cadastroForm.get('endereco')?.errors?.['required'] &&  cadastroForm.get('endereco')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
    <div class="mb-6">
      <label for="default-input" class="block mb-4 text-sm text-gray-900 font-semibold">Telefone </label>
      <input type="text" formControlName="telefone" placeholder="Escreva o telefone do hospital" id="default-input" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
      <p *ngIf="cadastroForm.get('telefone')?.errors?.['required'] &&  cadastroForm.get('telefone')?.touched"
          class="mt-2 text-xs text-red-600 dark:text-red-500"><span class="font-medium">Campo Obrigatório!</span></p>
    </div>
  </form>
  <button class="button-header-historico-pacientes-focus focus:ring-4 font-semibold rounded-lg text-lg px-3 py-2 h-12 w-[270px] m-auto" (click)="cadastrarHospital()">Cadastrar hospital</button>
</main>
