<div class="splide w-[320px] h-[130px] items-center" role="group" id="pacientes-servicos-slider" aria-label="Splide Basic">
  <div class="splide__track">
    <ul class="splide__list flex item-center">
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/agulhaexame.png'"
        [title]="'Serviço 1'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/agulhaexame.png'"
        [title]="'Serviço 1'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/agulhaexame.png'"
        [title]="'Serviço 1'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/agulhaexame.png'"
        [title]="'Serviço 1'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/agulhaexame.png'"
        [title]="'Serviço 1'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/agulhaexame.png'"
        [title]="'Serviço 1'">
      </app-paciente-servicos-card>
      </li>
    </ul>
  </div>
</div>
