<div class="max-w-sm md:max-w-xl lg:max-w-4xl">
<splide [options]="{ focus: 0, omitEnd: true, arrows: false, gap: '10px', perPage: 3, height: '160px',
  width: '100%',
  mediaQuery: 'min',
      breakpoints: {
        '768': {
          perPage: 4,
        }
      }}">
  <splide-slide *ngFor="let servico of servicos | slice:0:5" class="p-0" style="padding: 0">
    <app-servico-card
      [imageUrl]="obterIconeServico(servico.nome)"
      [titulo]="servico.nome">
    </app-servico-card>
  </splide-slide>
  <splide-slide>
    <app-servico-card
          [imageUrl]="'/assets/images/mais.svg'"
          [titulo]="'Ver todos'"
          [routerLink]="['servicos/0']">
        </app-servico-card>
  </splide-slide>
</splide>
</div>
