<div class="splide w-[400px] items-center" role="group" id="pacientes-servicos-slider" aria-label="Splide Basic">
  <div class="splide__track">
    <ul class="splide__list flex item-center gap-7">
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/eletrocardiograma.png'"
        [title]="'Eletrocardiograma'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/hemograma.png'"
        [title]="'Hemograma'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/endoscopia.png'"
        [title]="'Endoscopia'">
      </app-paciente-servicos-card>
      </li>
      <li class="splide__slide">
        <app-paciente-servicos-card
        [imageUrl]="'/assets/images/urina.png'"
        [title]="'Urina'">
      </app-paciente-servicos-card>
      </li>
    </ul>
  </div>
</div>
